:host {
  display: block;
  // Very important, waterfall container element must relative positioned,
  // otherwise waterfall elements will absolute positioned from page begin.
  position: relative;
  width: 100%;
  background-color: #AABBCC;

  .waterfall-item {
    display: inline-block;
    position: absolute;
    background-color: #FFFFFF;
    text-align: center;
  }
}
