:host {
  display: block;
  // Very important, waterfall container element must relative positioned,
  // otherwise waterfall elements will absolute positioned from page begin.
  position: relative;
  width: 100%;
  background-color: pink;

  .waterfall-item {
    display: inline-block;
    position: absolute;
    border: solid 1px #abc;
    background-color: #aabbcc;
    text-align: center;
    vertical-align: middle;
  }
}
